<section class="lista-Curriculos">
  <!-- property do data binding *ngFor -->
  <div *ngFor="let curriculo of curriculos">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cpf: {{curriculo.cpf}}</h5>
        <h5 class="card-title">Curriculo: {{curriculo.nome}}</h5>
        <p class="card-text">Descrição da Curriculo: {{curriculo.descricao}}</p>
        <p class="card-text">Referencias: {{curriculo.referencias}}</p>
        <p class="card-text">Area: {{curriculo.area}}</p>
      </div>
    </div>

  </div>
  <div class="rodape"></div>
</section>
